* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

.banner {
  width: 100%;
  height: 70px;
  background-color: #aa181c;
  padding-left: 2rem;
  padding-top: 0.6rem;
  color: white;
  box-shadow: 0 1px 5px -1px #1a1818;
}

.top-links {
  display: flex;
  justify-content: space-evenly;
  padding-left: 72%;
  padding-right: 5%;
  font-weight: 500;
  font-size: medium;
  margin-top: -2.5%;
  list-style-type: none;
}

a:link,
a:visited,
a.top-links {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(205, 205, 226);
  text-decoration: underline;
}
a.new {
  font-style: oblique;
}
a.click-here {
  color: darkred;
}

.keyboard {
  width: 100vmax;
  height: 50vh;
  box-shadow: 0 1px 5px -1px #232323;
  opacity: 0.8;
}
.befor-tabs {
  color: dimgrey;
  text-align: center;
  padding: 2rem;
}

.parent-box {
  padding-left: 2rem;
  margin-top: 1rem;
  display: flex;
  margin-left: 25px;
}
.boxes {
  height: 85%;
  width: 80%;
  padding: 70px;
  margin: 10px;
  text-align: center;
  background-color: white;
  border-radius: 15%;
  box-shadow: 0px 0px 40px 20px rgba(146, 143, 149, 0.2);
  justify-content: space-evenly;
}
em {
  color: rgb(137, 132, 132);
}

a.link-box {
  color: darkred;
  text-decoration: none;
}
a.link-box :hover {
  color: dimgray;
  text-decoration: none;
  background-color: rgb(244, 246, 241);
}

.ask-us {
  margin-top: 3.5rem;
  text-align: center;
  line-height: 0.5;
}

.icon {
  width: 35px;
  height: 35px;
}
